
/*********
Element Modifications
*********/
html{
	background-color: #f0f0f0;
}

h1{
	font-size:50px;
}

h2{
	font-size: 20px;
}

/********
Custom Classes
********/

.outer {
  width: 100%;
  background-color: #303030;
  min-height: 100px;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 0px;
  margin: 0 auto;
}

.outer_inner{
  position: relative;
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;
  color: white;
}

.content{
	background-color: #f0f0f0;
}